<section class="card">
  <h1>Entrar</h1>
  <% if (error) { %><div class="alert"><%= error %></div><% } %>
 <form method="post" action="/login" autocomplete="off" novalidate>
  <!-- armadilhas pro autofill teimoso -->
  <input type="text" name="fake-username" autocomplete="username"
         tabindex="-1" aria-hidden="true" style="position:absolute;left:-9999px;opacity:0">
  <input type="password" name="fake-password" autocomplete="current-password"
         tabindex="-1" aria-hidden="true" style="position:absolute;left:-9999px;opacity:0">

  <label>Email</label>
  <input type="email" name="email" inputmode="email"
         autocomplete="username" autocapitalize="none" spellcheck="false" value="">

  <label>Palavra-passe</label>
  <input type="password" name="password" autocomplete="current-password" value="">

  <button class="btn btn-primary">Entrar</button>
</form>

  <p class="mt">Ainda não tens conta? <a href="/registar">Criar conta</a></p>
</section>
